/* 📌 Aumentar la altura de las franjas horarias normales */
::ng-deep .fc-timegrid-slot {
  height: 130px !important; /* Mantiene altura actual */
  min-height: 100px !important;
}

/* 📌 Ajustar el tamaño de las etiquetas de las horas (la cabezera de los dias practicamente) */
::ng-deep .fc-timegrid-axis {
  height: 30px !important;
  line-height: 80px !important;
}

/* 📌 Hacer que los eventos ocupen toda la franja */
::ng-deep .fc-timegrid-slot-frame {
  height: 80px !important;
}

/* 📌 Ajustar el tamaño del texto de los eventos */
::ng-deep .fc-event {
  font-size: 23px !important;
  padding: 10px !important;
  line-height: 1.3 !important; /* ✅ permite más espacio interno */
  white-space: normal !important; /* ✅ evita que el texto se corte */
  overflow: visible !important; /* ✅ muestra todo el contenido */
  min-height: 65px !important; /* ✅ asegura que 1h tenga suficiente alto */
}

/* 📌 Personalizar el color del día actual (Eliminar amarillo) */
::ng-deep .fc-day-today {
  background: none !important;
}

/* 📌 Hacer que los eventos se vean más modernos */
::ng-deep .fc-event {
  border-radius: 6px !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
  font-weight: bold !important;
  padding: 5px !important;
}

/* 📌 Mejorar la visibilidad de los títulos de los días */
::ng-deep .fc-col-header-cell {
  font-weight: bold !important;
  font-size: 15px;
}

::ng-deep .fc-event-title {
  font-size: 13px !important; /* o prueba con 12px */
  font-weight: 500;
  white-space: normal !important; /* ✅ permite varias líneas */
  line-height: 1.2 !important; /* ✅ ajusta el espaciado interno */
}

[draggable="true"] {
  user-select: none;
}

.curso-disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(100%);
}
