<p class="text-2xl font-bold">Edite su información</p>
<p class="text-slate-500 mb-5">Edite ciertos campos de su información</p>

<div class="bg-gray-100 flex justify-center py-10 rounded-lg">
    <div class="bg-white shadow-lg rounded-lg p-8 w-[794px] min-h-[1123px]">

        <div class="grid grid-cols-5 gap-6">
            <!-- 🔹 Columna Izquierda -->
            <div class="col-span-2 bg-gray-800 text-white p-6 rounded-lg">
                <div class="flex justify-center">
                    <img src="../../../assets/img/docente.png" alt="Foto Docente" class="w-24 h-24 rounded-full shadow-md">
                </div>
                <!-- Datos personales -->
                <div>
                    <h3 class="text-lg font-bold bg-yellow-500 text-black px-3 py-1 mt-4 rounded-md">
                        Datos personales
                    </h3>
    
                    <p><strong>Nombre Completo: </strong> 
                        <span contenteditable="true" #nombreCompleto>
                            {{ docente?.nombres }} {{ docente?.apellido_paterno }} {{ docente?.apellido_materno }}
                        </span>
                    </p>
                    
                    <p><strong>Email: </strong> 
                        <span contenteditable="true" #email>{{ docente?.email }}</span>
                    </p>
    
                    <p><strong>Celular: </strong> 
                        <span contenteditable="true" #celular>{{ docente?.celular }}</span>
                    </p>
    
                    <p><strong>Teléfono Fijo: </strong> 
                        <span contenteditable="true" #telefono>{{ docente?.telefono_fijo }}</span>
                    </p>
                </div>

                <!-- Contacto de emergencia -->
                <div>
                    <h3 class="text-lg font-bold bg-yellow-500 text-black px-3 py-1 mt-4 rounded-md">
                        Contacto de Emergencia
                    </h3>
    
                    <p><strong>Nombre: </strong> 
                        <span contenteditable="true" #contactoNombre>
                            {{ docente?.contacto_emergencia.nombre }}
                        </span>
                    </p>
                    
                    <p><strong>Relación: </strong> 
                        <span contenteditable="true" #contactoRelacion>{{ docente?.contacto_emergencia.relacion }}</span>
                    </p>
    
                    <p><strong>Teléfono 1: </strong> 
                        <span contenteditable="true" #contactoTelefono1>{{ docente?.contacto_emergencia.telefono_1 }}</span>
                    </p>
    
                    <p><strong>Teléfono 2: </strong> 
                        <span contenteditable="true" #contactoTelefono2>{{ docente?.contacto_emergencia.telefono_2 }}</span>
                    </p>
                </div>

                <!-- Domicilio -->
                <div>
                    <h3 class="text-lg font-bold bg-yellow-500 text-black px-3 py-1 mt-4 rounded-md">
                        Domicilio
                    </h3>
    
                    <p><strong>Departamento: </strong> 
                        <span contenteditable="true" #departamento_id>
                            {{ docente?.domicilio.departamento_id }}
                        </span>
                    </p>    
                    
                    <p><strong>Provincia: </strong> 
                        <span contenteditable="true" #provincia_id>{{ docente?.domicilio.provincia_id }}</span>
                    </p>
                    
                    <p><strong>Distrito: </strong> 
                        <span contenteditable="true" #distrito_id>{{ docente?.domicilio.distrito_id }}</span>
                    </p>

                    <p><strong>Dirección: </strong> 
                        <span contenteditable="true" #direccion>{{ docente?.domicilio.direccion }}</span>
                    </p>
    
                    <p><strong>Referencia: </strong> 
                        <span contenteditable="true" #referencia>{{ docente?.domicilio.referencia }}</span>
                    </p>

                    <p><strong>Mz: </strong> 
                        <span contenteditable="true" #mz>{{ docente?.domicilio.mz }}</span>
                    </p>
    
                    <p><strong>Lote: </strong> 
                        <span contenteditable="true" #lote>{{ docente?.domicilio.lote }}</span>
                    </p>
                </div>

                <!-- otros conocimientos -->
                <div>
                    <h3 class="text-lg font-bold bg-yellow-500 text-black px-3 py-1 mt-4 rounded-md">
                        Otros conocimientos
                    </h3>
                    <div *ngFor="let otros of docente?.otros; let i = index">
                        <p><strong>Idioma: </strong> 
                            <span contenteditable="true" #idioma>{{ otros.idioma }}</span>
                        </p>
                        
                        <p><strong>Nivel de idioma: </strong> 
                            <span contenteditable="true" #nivel_idioma>{{ otros.nivel_idioma }}</span>
                        </p>
    
                        <p><strong>Office: </strong> 
                            <span contenteditable="true" #office>{{ otros.office }}</span>
                        </p>
        
                        <p><strong>Nivel de office: </strong> 
                            <span contenteditable="true" #nivel_office>{{ otros.nivel_office }}</span>
                        </p>
    
                        <p><strong>Learning: </strong> 
                            <span contenteditable="true" #learning>{{ otros.learning }}</span>
                        </p>
        
                        <p><strong>Nivel de earning: </strong> 
                            <span contenteditable="true" #nivel_learning>{{ otros.nivel_learning }}</span>
                        </p>
    
                    </div>
                </div>
            </div>

            <!-- 🔹 Columna Derecha -->
            <div class="col-span-3">
                <!-- Formación Académica -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Formación Académica
                </h3>

                <div *ngFor="let formacion of docente?.formacion_academica; let i = index">
                    <p><strong>Grado Académico: </strong> 
                        <span contenteditable="true" #grado_academico>{{ formacion.grado_academico }}</span>
                    </p>

                    <p><strong>Universidad: </strong> 
                        <span contenteditable="true" #universidad>{{ formacion.universidad }}</span>
                    </p>

                    <p><strong>Especialidad: </strong> 
                        <span contenteditable="true" #especialidad>{{ formacion.especialidad }}</span>
                    </p>

                    <p><strong>País: </strong> 
                        <span contenteditable="true" #pais>{{ formacion.pais }}</span>
                    </p>

                    <p><strong>Resolución SUNEDU: </strong> 
                        <span contenteditable="true" #resolucion_sunedu>{{ formacion.resolucion_sunedu }}</span>
                    </p>

                    <hr class="my-4">
                </div>

                <!-- Titulos Profecional -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Titulo Profecional
                </h3>

                <div *ngFor="let titulo of docente?.titulos_profesionales; let i = index">
                    <p><strong>Titulo: </strong> 
                        <span contenteditable="true" #titulo>{{ titulo.titulo }}</span>
                    </p>

                    <p><strong>Universidad: </strong> 
                        <span contenteditable="true" #universidadtp>{{ titulo.universidad }}</span>
                    </p>

                    <p><strong>Especialidad: </strong> 
                        <span contenteditable="true" #especialidadtp>{{ titulo.especialidad }}</span>
                    </p>

                    <hr class="my-4">
                </div>

                <!-- Formacion Complementaria -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Formacion Complementaria
                </h3>

                <div *ngFor="let formacioncomplementaria of docente?.formacion_complementaria; let i = index">
                    <p><strong>Titulo: </strong> 
                        <span contenteditable="true" #denominacion>{{ formacioncomplementaria.denominacion }}</span>
                    </p>

                    <p><strong>Universidad: </strong> 
                        <span contenteditable="true" #especialidadfc>{{ formacioncomplementaria.especialidad }}</span>
                    </p>

                    <p><strong>Especialidad: </strong> 
                        <span contenteditable="true" #institucion>{{ formacioncomplementaria.institucion }}</span>
                    </p>

                    <hr class="my-4">
                </div>

                <!-- Experiemcia Docemte -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Experiencia del docente
                </h3>

                <div *ngFor="let xpdocente of docente?.experiencia_docente; let i = index">
                    <p><strong>Institución: </strong> 
                        <span contenteditable="true" #institucion>{{ xpdocente.institucion }}</span>
                    </p>

                    <p><strong>Curso Dictado: </strong> 
                        <span contenteditable="true" #cursodictado>{{ xpdocente.curso_dictado }}</span>
                    </p>

                    <p><strong>Semestre: </strong> 
                        <span contenteditable="true" #semestre>{{ xpdocente.semestre }}</span>
                    </p>

                    <p><strong>Pais: </strong> 
                        <span contenteditable="true" #paisxp>{{ xpdocente.pais }}</span>
                    </p>

                    <hr class="my-4">
                </div>

                <!-- Articulos Cientificos -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Articulos Cientificos
                </h3>

                <div *ngFor="let artcientifico of docente?.articulos_cientificos; let i = index">
                    <p><strong>Titulo articulo: </strong> 
                        <span contenteditable="true" #tituloarticulo>{{ artcientifico.titulo_articulo }}</span>
                    </p>

                    <p><strong>Nombre revista: </strong> 
                        <span contenteditable="true" #nombrerevista>{{ artcientifico.nombre_revista }}</span>
                    </p>

                    <p><strong>Indizado: </strong> 
                        <span contenteditable="true" #indizado>{{ artcientifico.indizado }}</span>
                    </p>

                    <p><strong>Año: </strong> 
                        <span contenteditable="true" #año>{{ artcientifico['año'] }}</span>
                    </p>                    

                    <p><strong>Enlace: </strong> 
                        <span contenteditable="true" #enlace>{{ artcientifico.enlace }}</span>
                    </p>

                    <hr class="my-4">
                </div>

                <!-- libros -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Libros
                </h3>

                <div *ngFor="let libros of docente?.libros; let i = index">
                    <p><strong>Titulo: </strong> 
                        <span contenteditable="true" #titulolibro>{{ libros.titulo }}</span>
                    </p>

                    <p><strong>Nombre revista: </strong> 
                        <span contenteditable="true" #nombreeditorial>{{ libros.nombre_editorial }}</span>
                    </p>

                    <p><strong>Año: </strong> 
                        <span contenteditable="true" #añolibro>{{ libros['año'] }}</span>
                    </p>                    

                    <hr class="my-4">
                </div>

                <!-- Proyectos de investigacion -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Proyectos de investigación
                </h3>

                <div *ngFor="let proinvestigacion of docente?.proyectos_investigacion; let i = index">
                    <p><strong>Proyecto: </strong> 
                        <span contenteditable="true" #proyecto>{{ proinvestigacion.proyecto }}</span>
                    </p>

                    <p><strong>Entidad Financiera: </strong> 
                        <span contenteditable="true" #emtidadfinanciera>{{ proinvestigacion.entidad_financiera }}</span>
                    </p>

                    <p><strong>Año adjudicacion: </strong> 
                        <span contenteditable="true" #añoadjudicacion>{{ proinvestigacion['año_adjudicacion'] }}</span>
                    </p>

                    <hr class="my-4">
                </div>

                <!-- Asesorias y jurados -->
                <h3 class="text-lg font-bold bg-gray-200 border-t-4 border-black px-3 py-1">
                    Proyectos de investigación
                </h3>

                <div *ngFor="let asesoriajurados of docente?.asesorias_jurado; let i = index">
                    <p><strong>Titulo tesis: </strong> 
                        <span contenteditable="true" #titulotesis>{{ asesoriajurados.titulo_tesis }}</span>
                    </p>

                    <p><strong>Universidad: </strong> 
                        <span contenteditable="true" #universidadaj>{{ asesoriajurados.universidad }}</span>
                    </p>

                    <p><strong>Nivel: </strong> 
                        <span contenteditable="true" #nivel>{{ asesoriajurados.nivel }}</span>
                    </p>

                    <p><strong>Año: </strong> 
                        <span contenteditable="true" #añoaj>{{ asesoriajurados['año'] }}</span>
                    </p>


                    <hr class="my-4">
                </div>

            </div>
        </div>

        <!-- Botón para Guardar Cambios -->
        <button (click)="actualizarDocente()" class="mt-6 w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition">
            Guardar Cambios
        </button>
    </div>
</div>
