/* 📌 Aumentar la altura de las franjas horarias normales */
::ng-deep .fc-timegrid-slot {
  height: 140px !important; /* Ajusta la altura de las filas normales */
  min-height: 100px !important;
}

/* 📌 Ajustar el tamaño de las etiquetas de las horas (la cabezera de los dias practicamente) */
::ng-deep .fc-timegrid-axis {
  height: 30px !important;
  line-height: 80px !important;
}

/* 📌 Hacer que los eventos ocupen toda la franja */
::ng-deep .fc-timegrid-slot-frame {
  height: 80px !important;
}

/* 📌 Ajustar el tamaño del texto de los eventos */
::ng-deep .fc-event {
  font-size: 20px !important;
  padding: 10px !important;
  line-height: 20px !important;
}

/* 📌 Personalizar el color del día actual (Eliminar amarillo) */
::ng-deep .fc-day-today {
  background: none !important;
}

/* 📌 Hacer que los eventos se vean más modernos */
::ng-deep .fc-event {
  border-radius: 6px !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
  font-weight: bold !important;
  padding: 5px !important;
}

/* 📌 Mejorar la visibilidad de los títulos de los días */
::ng-deep .fc-col-header-cell {
  font-weight: bold !important;
  font-size: 15px;
}

::ng-deep .fc-event-title {
  font-size: 11px !important; /* o prueba con 12px */
  font-weight: 500;
}

[draggable="true"] {
  user-select: none;
}

.curso-disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(100%);
}
