<div class="shadow-lg p-3 bg-white rounded-lg">
  <p class="text-2xl font-bold">Asignación de horarios</p>
  <p class="text-slate-500 mt-1">Asigne horarios a los docentes:</p>
</div>


<!-- <div class="flex flex-wrap gap-4 p-4 bg-white shadow-md rounded-lg mt-5">
  <span class="font-bold" mar *ngIf="textoFiltros">{{ textoFiltros }}</span>
  <span *ngIf="!textoFiltros" class="text-gray-500 font-bold">No hay filtros seleccionados</span>
</div> -->
<div id="external-events" class="... bg-white shadow-lg border p-5 rounded-xl">
  <h2 class="text-xl font-bold text-slate-800 mb-4 border-b border-slate-200 pb-2">📚 Cursos</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
    <div *ngFor="let curso of cursos"
    class="fc-event bg-white shadow-sm border border-slate-200 rounded-lg px-4 py-2 cursor-move"
    [attr.data-event]="stringifyEvent(curso)">
    <p class="text-sm text-slate-800 font-medium">
      <span class="font-semibold">[{{ curso.c_codcur }}]</span> - {{ curso.c_nomcur }}
    </p>
    <p class="text-xs text-gray-600 mt-1">
      {{ curso.tipo }}:
      <ng-container *ngIf="curso.n_ht">HT: {{ curso.horasRestantes }}</ng-container>
      <ng-container *ngIf="curso.n_hp">HP: {{ curso.horasRestantes }}</ng-container>
    </p>
    <p class="text-sm text-slate-800 font-medium mt-1">
      <span class="">{{ curso.c_nommod }}</span>
    </p>
    </div>
  </div>
</div>

<!-- 📅 Calendario -->
<full-calendar 
  [options]="calendarOptions" 
  class="mt-5 shadow-lg bg-white p-5 rounded-lg border border-gray-200">
</full-calendar>

<button
  (click)="guardarEventos()"
  class="mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">
  💾 Guardar horarios
</button>


<!-- Modal para elegir cantidad de horas -->
<div *ngIf="modalHorasActivo" class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-xl p-6 w-full max-w-sm text-center">
    <h2 class="text-lg font-semibold mb-3">Asignar Horas a {{ cursoSeleccionado?.title }}</h2>
    <p class="text-sm mb-2">Máximo: {{ cursoSeleccionado?.horasDisponibles }} horas</p>
    
    <input type="number" [(ngModel)]="horasAsignadas" 
            [max]="cursoSeleccionado?.horasDisponibles"
            min="1"
            class="border rounded px-3 py-1 w-20 text-center">

    <div class="mt-4 flex justify-center gap-3">
      <button (click)="confirmarAsignacionHoras()" class="bg-blue-600 text-white px-4 py-1 rounded">Asignar</button>
      <button (click)="cancelarAsignacionHoras()" class="bg-gray-300 px-4 py-1 rounded">Cancelar</button>
    </div>
  </div>
</div>
