@if (turno) {
<!-- component -->
<div class="max-w-[100%] mx-auto">
  <div
    class="relative flex flex-col w-full h-full text-slate-700 bg-white shadow-md rounded-xl bg-clip-border"
  >
    <div
      class="relative mx-4 mt-4 overflow-hidden text-slate-700 bg-white rounded-none bg-clip-border"
    >
      <div class="flex items-center justify-between">
        <div>
          <h3 class="text-lg font-semibold text-slate-800">Cursos</h3>
          <!-- Información superior -->
          <div
            class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-2 text-sm text-gray-700 font-medium"
          >
            <div>
              <span class="text-gray-500">Código Facultad:</span>
              {{ turno.c_codfac }}
            </div>
            <div>
              <span class="text-gray-500">Código Especialidad:</span>
              {{ turno.c_codesp }}
            </div>
            <div>
              <span class="text-gray-500">Nombre Facultad:</span
              >{{ turno.nom_fac }}
            </div>
            <div>
              <span class="text-gray-500">Especialidad:</span>{{ turno.nomesp }}
            </div>
            <div>
              <span class="text-gray-500">Modalidad:</span> {{ turno.c_nommod }}
            </div>
            <div>
              <span class="text-gray-500">Grupo:</span> {{ turno.c_grpcur }}
            </div>
            <div>
              <span class="text-gray-500">Plan:</span> {{ turno.n_codpla }}
            </div>
            <div>
              <span class="text-gray-500">Periodo:</span> {{ turno.n_codper }}
            </div>
            <div>
              <span class="text-gray-500">Ciclo:</span> {{ turno.n_ciclo }}
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
          <div class="w-full md:w-72">
            <div class="relative h-10 w-full min-w-[200px]"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-0 overflow-scroll">
      <table class="w-full mt-4 text-left table-auto min-w-max">
        <thead>
          <tr>
            <!-- <th
              class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100"
            >
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500"
              >
                Id
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th> -->
            <th
              class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100"
            >
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500"
              >
                Codigo
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>

            <th
              class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100"
            >
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500"
              >
                Tipo
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>

            <th
              class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100"
            >
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500"
              >
                Curso
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>

            <th
              class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100"
            >
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500"
              >
                Horario
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>

            <th
              class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100"
            >
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500"
              >
                Acciones
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                  ></path>
                </svg>
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (curso of cursos; track curso.id) {
          <tr
            *ngIf="
              curso.cursosPadres.length === 0 ||
              curso.cursosPadres[0].padre_curso_id === curso.id
            "
          >
            <!-- columnas del curso -->
            <!-- <td class="p-4 border-b border-slate-200">
              <div class="flex items-center gap-3">
                <div class="flex flex-col">
                  <p class="text-sm font-semibold text-slate-700">
                    {{ curso.id }} - {{ curso.c_codfac }} -
                    {{ curso.c_codesp }}
                  </p>
                </div>
              </div>
            </td> -->
            <td class="p-4 border-b border-slate-200">
              <div class="flex items-center gap-3">
                <div class="flex flex-col">
                  <p class="text-sm font-semibold text-slate-700">
                    {{ curso.c_codcur }}
                  </p>
                </div>
              </div>
            </td>

            <td class="p-4 border-b border-slate-200">
              <div class="flex items-center gap-3">
                <div class="flex flex-col">
                  <p class="text-sm font-semibold text-slate-700">tipo</p>
                </div>
              </div>
            </td>

            <td class="p-4 border-b border-slate-200">
              <div class="flex items-center gap-3">
                <div class="flex flex-col">
                  <p class="text-sm font-semibold text-slate-700">
                    {{ curso.c_nomcur }}
                  </p>
                </div>
              </div>
            </td>
            <td class="p-4 border-b border-slate-200">
              <div class="flex items-center gap-3">
                <div class="flex flex-col">
                  @if (curso.Horario.length !== 0) { @for (horario of
                  curso.Horario; track horario.id) {
                  <p class="text-sm font-semibold text-slate-700">
                    {{ horario.Docente?.c_nomdoc || "sin docente" }}
                    ({{ horario.dia }})
                    {{ horario.h_inicio | date : "shortTime" }} -
                    {{ horario.h_fin | date : "shortTime" }}
                    {{ horario.tipo }}
                  </p>
                  } } @else {
                  <p class="text-sm font-semibold text-slate-700">
                    Sin asignar
                  </p>
                  }
                </div>
              </div>
            </td>

            <td class="p-4 border-b border-slate-200">
              <div class="flex items-center justify-center">
                <button
                  (click)="clickAbrirModal(curso)"
                  type="button"
                  class="relative h-10 w-10 rounded-lg text-blue-600 hover:bg-blue-600/10 active:bg-blue-600/20 transition-all"
                >
                  <span
                    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
                  >
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                  </span>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  *ngIf="mostrarModalCrear"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-white p-6 rounded-xl shadow-xl w-full max-w-4xl">
    <!-- Cabecera -->
    <div class="flex justify-between items-center mb-4">
      <div>
        <h2 class="text-xl font-bold text-gray-800">Crear horario</h2>
      </div>
      <button (click)="cerrarModal()" class="text-gray-500 hover:text-red-500">
        <i class="fa-solid fa-xmark text-xl"></i>
      </button>
    </div>

    <!-- Tabla de horarios existentes -->
    <div class="mb-6">
      <h3 class="text-md font-semibold text-gray-700 mb-2">
        Horarios asignados
      </h3>
      <table
        class="min-w-full text-sm text-left text-gray-700 border rounded-md"
      >
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2">Docente</th>
            <th class="px-4 py-2">Tipo</th>
            <th class="px-4 py-2">Día</th>
            <th class="px-4 py-2">Pabellón</th>
            <th class="px-4 py-2">Aula</th>
            <th class="px-4 py-2">Inicio</th>
            <th class="px-4 py-2">Fin</th>
          </tr>
        </thead>
        <tbody>
          @for (horario of curso.Horario; track horario.id) {
          <tr (click)="clickRow(horario)" class="border-t">
            <td class="px-4 py-2">
              {{ horario.Docente?.c_nomdoc || "Sin asignar" }}
            </td>
            <td class="px-4 py-2">{{ horario.tipo }}</td>
            <td class="px-4 py-2">{{ horario.dia }}</td>
            <td class="px-4 py-2">{{ horario.aula?.pabellon || "asignar" }}</td>
            <td class="px-4 py-2">
              {{ horario.aula?.c_codaula || "asignar" }}
            </td>
            <td class="px-4 py-2">
              {{ horario.h_inicio | date : "shortTime" }}
            </td>
            <td class="px-4 py-2">{{ horario.h_fin | date : "shortTime" }}</td>
          </tr>
          }
        </tbody>
      </table>

      <div class="md:col-span-2 flex justify-end gap-2 pt-5">
        <button
          type="button"
          class="px-6 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
        >
          Nuevo
        </button>
      </div>
    </div>

    <!-- Formulario -->
    <form class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <!-- Docente -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Docente</label
        >
        <select class="w-full border border-gray-300 rounded-md px-3 py-2">
          <option value="">Seleccione docente</option>
          @for (docente of docentes; track docente.id) {
          <option value="{{ docente.id }}">{{ docente.c_nomdoc }}</option>
          }
        </select>
      </div>

      <!-- Tipo -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">Tipo</label>
        <select class="w-full border border-gray-300 rounded-md px-3 py-2">
          <option value="">Seleccione tipo</option>
          <option value="teoria">Teoría</option>
          <option value="practica">Práctica</option>
        </select>
      </div>

      <!-- Día -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">Día</label>
        <select class="w-full border border-gray-300 rounded-md px-3 py-2">
          <option value="">Seleccione día</option>
          <option value="Lunes">Lunes</option>
          <option value="Martes">Martes</option>
          <option value="Miércoles">Miércoles</option>
          <option value="Jueves">Jueves</option>
          <option value="Viernes">Viernes</option>
          <option value="Sábado">Sabado</option>
        </select>
      </div>

      <!-- Pabellón -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Pabellón</label
        >
        <select class="w-full border border-gray-300 rounded-md px-3 py-2">
          <option value="">Seleccione pabellón</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>
      </div>

      <!-- Aula -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">Aula</label>
        <select class="w-full border border-gray-300 rounded-md px-3 py-2">
          <option value="">Seleccione aula</option>
        </select>
      </div>

      <!-- Hora de inicio -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Hora de inicio</label
        >
        <input
          type="time"
          class="w-full border border-gray-300 rounded-md px-3 py-2"
        />
      </div>

      <!-- Hora de fin -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Hora de fin</label
        >
        <input
          type="time"
          class="w-full border border-gray-300 rounded-md px-3 py-2"
        />
      </div>
    </form>

    <!-- Botones debajo del formulario -->
    <div class="flex justify-end gap-2">
      <button
        type="button"
        class="px-6 py-2 bg-blue-700 text-white rounded hover:bg-blue-800"
      >
        Guardar
      </button>
      <button
        (click)="cerrarModal()"
        type="button"
        class="px-6 py-2 bg-gray-200 rounded hover:bg-gray-300"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>

}
