<div class="mb-4">
  <button
    routerLink="/coa/aula"
    class="inline-flex items-center gap-2 bg-gray-200 hover:bg-gray-300 text-gray-800 font-medium py-2 px-4 rounded transition duration-200"
  >
    <i class="fa-solid fa-arrow-left"></i> Aula
  </button>
</div>
<div class="shadow-lg border border-gray-200 rounded-lg p-4">
  <h2 class="text-xl font-bold text-gray-800 mb-4">
    🧑‍🏫 Horario del Docente: {{ nombreAula }}
  </h2>
  <div class="flex flex-wrap gap-4">
    <div class="flex items-center font-bold ml-8">
      <span>Leyenda: </span>
    </div>
    <div class="flex items-center">
      <span class="inline-block w-4 h-4 bg-blue-600 rounded mr-2"></span>
      <span>Teoría</span>
    </div>
    <div class="flex items-center">
      <span class="inline-block w-4 h-4 bg-green-600 rounded mr-2"></span>
      <span>Práctica</span>
    </div>
    <div class="flex items-center">
      <span class="inline-block w-4 h-4 bg-yellow-500 rounded mr-2"></span>
      <span>Curso Transversal</span>
    </div>
    <div class="flex items-center">
      <span class="inline-block w-4 h-4 bg-purple-700 rounded mr-2"></span>
      <span>Curso Agrupado</span>
    </div>
  </div>
</div>

<full-calendar
  [options]="calendarOptions"
  class="shadow-lg border border-gray-200 rounded-lg p-4 mt-5"
>
</full-calendar>
