/* styles.css o globales si deseas agregar efecto */
@keyframes pulse-slow {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2s infinite;
}
